<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__info">
                <img class="footer__logo" src="assets/images/logo/logo-robot.svg" alt="logo">
                <div class="footer__ai">Artificial Intelligence</div>
                <div class="footer__text">
                    Lorem ipsum is placeholder text commonly used in the graphic, print, and layouts and visual mockups.
                </div>

                <ul class="footer__ul">
                    <li class="footer__li">
                        <div class="footer__li-img">
                            <img src="assets/images/icons/mail.svg" alt="mail">
                        </div>
                        <a href="mailto:Company@gmail.com." class="footer__li-text">Company@gmail.com</a>
                    </li>
                    <li class="footer__li">
                        <div class="footer__li-img">
                            <img src="assets/images/icons/phone.svg" alt="phone">
                        </div>
                        <a href="tel: (064)3321233" class="footer__li-text">Phone: (064) 332-1233</a>
                    </li>
                    <li class="footer__li">
                        <div class="footer__li-img">
                            <img src="assets/images/icons/location.svg" alt="location">
                        </div>
                        <a href="https://yandex.kz/maps/-/CCUa7YQgLB" target="_blank" class="footer__li-text">120 Wall Street, USA, New York</a>
                    </li>
                </ul><!-- ./footer__ul -->
            </div><!-- ./footer__info -->

            <div class="footer__links">
                <div class="footer__block">
                    <div class="footer__title">INFORMATION</div>
                    <a href="#" class="footer__link">New Collection</a>
                    <a href="#" class="footer__link">About Store</a>
                    <a href="#" class="footer__link">Contact Us</a>
                    <a href="#" class="footer__link">Latest News</a>
                    <a href="#" class="footer__link">Our Sitemap</a>
                    <a href="#" class="footer__link">Orders History</a>
                </div><!-- ./footer__block -->

                <div class="footer__block">
                    <div class="footer__title">FOOTER MENU</div>
                    <a href="#" class="footer__link">Instagram profile</a>
                    <a href="#" class="footer__link">New Collection</a>
                    <a href="#" class="footer__link">Contact Us</a>
                    <a href="#" class="footer__link">Latest News</a>
                    <a href="#" class="footer__link">Terms &amp; Conditions</a>
                    <a href="#" class="footer__link">Purchase Theme</a>
                </div><!-- ./footer__block -->

                <div class="footer__block">
                    <div class="footer__title">USEFUL LINKS</div>
                    <a href="#" class="footer__link">Instagram profile</a>
                    <a href="#" class="footer__link">New Collection</a>
                    <a href="#" class="footer__link">Contact Us</a>
                    <a href="#" class="footer__link">Latest News</a>
                    <a href="#" class="footer__link">Terms &amp; Conditions</a>
                    <a href="#" class="footer__link">Purchase Theme</a>
                </div><!-- ./footer__block -->
            </div><!-- ./footer__links -->

            <div class="footer__about">
                <div class="footer__title">ABOUT THE STORE</div>
                <div class="footer__text">Lorem ipsum is placeholder text commonly used in the graphic, print, and layouts and visual mockups.</div>

                <a href="#" class="footer__about-text">www.company.com</a>

                <div class="footer__socials">
                    <a href="#" class="footer__social">
                        <img src="assets/images/social/facebook.svg" alt="">
                    </a>
                    <a href="#" class="footer__social">
                        <img src="assets/images/social/instagram.svg" alt="">
                    </a>
                    <a href="#" class="footer__social">
                        <img src="assets/images/social/twitter.svg" alt="">
                    </a>
                    <a href="#" class="footer__social">
                        <img src="assets/images/social/in.svg" alt="">
                    </a>
                    <a href="#" class="footer__social">
                        <img src="assets/images/social/youtube.svg" alt="">
                    </a>
                </div><!-- ./footer__socials -->

                <div class="footer__language">
                    <img src="assets/images/icons/globe.svg" alt="">
                    <div class="footer__language-text">Language</div>
                    <img src="assets/images/icons/Vector.svg" alt="">
                </div>

            </div><!-- ./footer__about -->
        </div><!-- ./footer__wrapper -->
    </div>
</footer><!-- ./footer -->
