<header class="header" id="header">
    <div class="header__navbar">
        <div class="header__logo">
            <img src="assets/images/logo/logo.svg" alt="logo">
        </div>
        <nav class="nav" id="nav">
            <a class="nav__link" href="#" data-scroll="header">Home</a>
            <a class="nav__link" href="#" data-scroll="about">About</a>
            <a class="nav__link" href="#" data-scroll="slider">Services</a>
            <a class="nav__link" href="#" data-scroll="blog">Blog</a>
            <a class="nav__link" href="#" data-scroll="footer">Contact</a>
        </nav><!-- ./nav-->

        <div>
            <button class="burger" type="button" id="navToggle">
                <span class="burger-item">Menu</span>
            </button>
        </div>

        <div class="header__signin">
            <a class="btn header__btn" href="#">Sign in</a>
        </div>
    </div><!-- ./header__navbar -->
</header><!--./header-->
